<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="shortcut icon" href="ico.png" type="image/png">
    <title>ToDo List</title>
</head>
<body>
    
    <div id="app">
        <h3>
            ToDo List
        </h3>
    <br>
    <div class="input-group mb-3" style="margin: auto; width: 600px;">
        <input type="text" v-model="newTask" class="form-control" placeholder="Введите текст задачи" aria-label="Введите текст задачи" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button v-on:click="tasks.push(newTask)" class="btn btn-primary" type="button" id="button-addon2"><i class="fas fa-plus"></i></button>
        </div>
    </div>

        <div class="elements">
            <ul>
                <li class="element" v-for="(task, index) in tasks">
                <p><button style="position: absolute;right: 384px;" class="btn btn-primary" v-on:click="tasks.splice(index, 1)"><i class="fas fa-minus"></i></button>{{ task }} </p>
                <br>
            </ul>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        new Vue({
            el:'#app',
            data:{
                newTask: '',
                tasks: ['Посетить врача', 'Купить продукты']
            }
        })
    </script>
</body>
</html>