@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body{
    font-family: 'Noto Sans';
    text-align: center;
    padding-top: 2%;
}

text{
    margin: auto;
    width: 600px;
}

li{
    list-style-type: none;
}

.elements{
    padding-left: 27%;
    text-align: -webkit-auto;
}
